<div class="row d-flex justify-content-center text-white">
  <div class="col-12 col-md-4">
    <h4>Reservas</h4>
    <hr>
    <h4>Desde 100 USD</h4>
    <form action="#" >
      <div class="row">
        <div class="col">
          <label for="dateStart" class="form-label">Entrada</label>
          <input type="date" class="form-control" id="dateStart">
        </div>
        <div class="col">
          <label for="dateEnd" class="form-label">Salida</label>
          <input type="date" class="form-control" id="dateEnd">
        </div>
      </div>
      <div class="row mt-2">
        <div class="col">
          <label for="adult" class="form-label">Adultos</label>
          <select class="form-select  mb-3" aria-label="Default select">
            <option selected>--- select ---</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
        </div>
        <div class="col">
          <label for="boy" class="form-label">Niños</label>
          <select class="form-select  mb-3" aria-label="Default select">
            <option selected>--- select ---</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
        </div>

        <button type="submit" class="btn btn-primary w-100 mt-3">ver precios</button>

      </div>
    </form>
  </div>
</div>
